/* Kumbh Sans font */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    font-size: 100%; /* in most browsers, 16px*/
    box-sizing: border-box;
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-desat-blue: hsl(229, 23%, 23%);
    --dark-gray-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom 30vh right 45vw, top 48vh left 35vw;
    background-size: cover;
    background-color: var(--dark-cyan);
    font-family: Kumbh Sans, sans-serif;
    font-size: 1.125em; /* 18px */
}

.container {
    color: var(--dark-gray);
    background-color: hsl(0, 0%, 100%);
    width: 325px;
    height: 370px;
    border-radius: 15px;
    filter: drop-shadow(0 3px 10px hsl(185, 75%, 25%));
    text-align: center;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

img[src*="bg-pattern-card.svg"] {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

img[src*="image-victor.jpg"] {
    display: block;
    border: 5px solid hsl(0, 0%, 100%));
    border-radius: 50px;
    position: fixed;
    bottom: 50%;
    left: 34%;
}

.name {
    display: inline-block;
    color: var(--dark-desat-blue);
    font-size: inherit;
    padding-top: 25%;
}

.age {
    margin-left: 3px;
}

.location {
    font-size: .8em;
    padding: 8px 8px 25px 8px;
}

hr {
    color: var(--dark-desat-blue);
    opacity: .05;
    height: 1px;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.metric {
    padding: 25px;
}

.number {
    color: var(--dark-desat-blue);
    font-weight: 700;
}

.number ~ p {
    font-size: .55em;
    letter-spacing: 2px;
    padding: 6px
}

footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: .5;
}